/* for screen which is smaller than 768 */
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .menu {
    display: none;
  }

  .big-text {
    margin-top: 66px;
  }

  .public-info {
    padding: 2% 4% !important;
  }

  .content {
    background-image: url('./images/header-bg-mobile.svg');
    background-size: cover;
    border-radius: 0 0 0 50px;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 10%;
  }

  .contact-me {
    background-image: url('images/contact-form-shapes-mobile.svg');
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 100px 0 0 0;
    background-color: #6070ff;
    background-position: unset;
    background-size: 100% !important;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;
  }

  .snapshoot-card {
    padding: 4px;
  }

  .my-snpashoot {
    padding: 1% 2% 1% 2%;
  }

  .snapshoot {
    flex: 98%;
    max-width: 98%;
  }

  .tonic-part {
    flex: 98%;
    max-width: 98%;
  }

  .worke-expr {
    grid-template-columns: 28% 40% 20%;
  }

  .work-tech {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    width: 94%;
  }

  .acc-icon {
    right: 26px;
    position: absolute;
    margin-top: 15px;
  }

  .acc-sub-ul {
    padding-left: 1px;
    display: block;
  }

  .acc-sub-items {
    width: 86% !important;
    display: block;
  }

  .lang {
    margin-left: 33px;
    padding: 5px;
  }

  .lan-icon {
    display: inline-block;
    position: absolute;
  }

  .project-info {
    display: grid;
    grid-template-columns: 1fr;
  }
}
