
body {
  background-color: #f4f5f7;
  font-family: 'Poppins', sans-serif;
  margin: 1px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 1% 8%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 6px;
  max-width: 75%;
  flex: 75%;
}

.menu {
  display: flex;
  width: 77%;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-item {
  flex-direction: column;
  list-style-type: none;
  transition: transform 1s;
}

.menu-item a {
  text-decoration: none;
  margin-right: 22px;
  color: #344563;
}

.menu-item:hover {
  transform: scale(1.2);
}

.hamburger-menu {
  display: none;
}

.logo {
  max-width: 20%;
  flex: 20%;
  margin-top: 10px;
  filter: drop-shadow(0 0 10px #396df2);
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

.logo:hover {
  filter: drop-shadow(0 -10px 20px #fff);
  animation: rotation 15s linear infinite;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.logo-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

.public-info {
  padding: 1% 16% !important;
  margin: 0 auto;
  font-size: 1.4em;
  min-height: 600px;
}

.big-text {
  top: 20%;
  left: 10px;
}

.for-bg-img {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}

.lets-connect {
  color: #7f8cff;
  margin-bottom: 1px;
}

.social-part {
  display: flex;
  padding: 4px;
  margin-top: 1px;
}

.social-item {
  list-style-type: none;
  margin: 1px 22px 1px 1px;
}

.btnHover:hover {
  background-color: #6070ff;
  color: #fff;
}

.btnPressed:active {
  background-color: #5300d5;
  color: #fff;
}

.btnDisabled:disabled {
  background-color: #fff;
  box-shadow: inset 10px 10px 5px #c1c1c1;
  outline: none;
}

/* style for snapshoot part */
.my-snpashoot {
  padding: 1% 10% 1% 10%;
}

.snapshoot-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid gainsboro;
  background-color: #fff;
  box-shadow: 1 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 88px;
  min-height: 444px;
  padding: 4px;
}

.snapshoot {
  flex: 46;
  max-width: 46;
  padding: 2% 1%;
  margin: 5px;
  border-radius: 8px;
}

.tonic-part {
  flex: 46;
  max-width: 46;
  padding: 2% 1%;
  margin: 5px;
}

.headline-2 {
  margin-top: 1px;
  font-size: 32px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 1px;
  color: #172b4d;
}

.about-me-headline {
  color: #fff;
  padding-top: 66px;
  margin-bottom: 1px;
  font-size: 40px;
  font-weight: bold;
}

.worke-expr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10px;
  justify-content: start;
}

.exp-items {
  font-size: 16px;
  font-weight: 600;
}

.exp-item1 {
  color: #344563;
  font-weight: bold;
  list-style-type: none;
}

.exp-item2,
.exp-item3 {
  color: #7a869a;
}

.exp-info {
  padding: 1px 10px;
}

.work-tech {
  display: flex;
  padding-left: 10px;
  justify-content: start;
}

.tech-items {
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  list-style-type: none;
  padding: 5px 8px;
  text-align: center;
  font-size: 12px;
  margin: 3px;
  width: fit-content;
}

.see-project {
  color: #396df2;
  width: 133px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  margin: 5px;
  transition: background-color 2s ease;
  background-color: #fff;
}

.text-color {
  color: #344563;
}

.about-me {
  border-radius: 1px 88px 1px 1px;
  margin-top: 88px;
  background-color: #fff;
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  width: 86%;
  margin: 0 auto;
  padding: 5%;
}

.about-part {
  padding: 5px;
}

.about-header {
  margin: 44px 1px 1px 1px;
}

.see-resume {
  color: #396df2;
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  margin: 5px;
  background-color: #fff;
}

.accordion {
  margin-top: 33px;
  padding-left: 1px;
}

.accordion li {
  list-style-type: none;
}

.skills {
  display: inline;
  margin-left: 10px;
  font-weight: bold;
}

.acc-icon {
  right: 8%;
  position: absolute;
  margin-top: 15px;
}

.acc-icon-right {
  right: 8%;
  position: absolute;
  margin-top: -8px;
}

.accordion-title,
.acc-icon {
  display: flex;
}

.accordion-items {
  list-style-type: none;
  margin: 11px 5px;
  padding: 10px 5px;
  border-bottom: 1px solid #dfe1e6;
}

.acc-sub-ul {
  padding-left: 1px;
  display: flex;
}

.acc-sub-items {
  background-color: #f4f5f7;
  list-style-type: none;
  padding: 11px;
  margin: 5px;
  border-radius: 8px;
  min-width: 14%;
}

.lan-icon {
  border-radius: 50%;
  display: block !important;
  padding: 5px;
}

.lang {
  margin-left: 2px;
  padding-top: 15px;
}

.contact-text {
  padding: 10px 20px;
  color: #fff;
}

.form-container {
  padding: 10px;
  border-radius: 10px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field input,
.form-field textarea {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

.form-field input,
.form-field textarea:focus {
  outline: none;
}

.porject-img {
  min-width: 295px;
  min-height: 220px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.55s ease-in-out;
}

.porject-img:hover {
  opacity: 0.6;
  transform: scale(0.98);
  transition: transform 1s;
}

.content {
  background-color: #fff !important;
}

@media (min-width: 768px) {
  .content {
    background: url('./images/Header-bg.svg');
    background-size: 100% !important;
    background-repeat: no-repeat;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 6%;
    padding-bottom: 6%;
    border-radius: 0 0 0 100px;
  }

  .contact-me {
    background-color: #6070ff;
    background-image: url('images/contact-form-background-shapes.svg');
    background-size: 100% !important;
    padding-left: 29%;
    padding-right: 29%;
    padding-top: 8%;
    padding-bottom: 10%;
    border-radius: 100px 0 0 0;
    text-align: center;
  }
}

/* mobile menu css */
.mobile-menu {
  background-color: #6070FF;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: 0.6s;
  z-index: 5;
  opacity: 0.9;
}

.m-menu {
  list-style-type: none;
  margin-top: 33px;
}

.m-item a{
  padding: 2px 2px 8px 11px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin-top: 22px;
}

.close-icon {
  position: absolute;
  right: 25px;
  font-family: 55px;
  margin-right: 44px;
  display: none;
}

